.yBtns>button{
    width: 40px;
    height:40px;
    background-color: #e6e6e6;
    border-radius: 50%;
}
.yearsPercent>button{
    width: 40px;
    height:40px;
    background-color: #e6e6e6;
    border-radius: 50%;
}